
.quiz {
  height: 100vh;
  width: 100vw;
  margin-bottom: 0px;
  background-color: #070707;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.includer{
  text-decoration: none;
  display:block;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.head{
  padding-left: 2.5%;
  padding-top: 2.1%;
  color: white;
  font-size: larger;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.head1{
  padding-left: 1%;
  padding-top: 0.5%;
  color: white;
  font-size: larger;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header{
  background-color: black;
  color: #f0f0f0;
  padding-left: 31vw;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 18vh;
  font-weight: 600;
  font-size: xx-large;
}
.about{
  text-align: center;
  color: #fff;
  background: black;
  padding-left:15vw;
  padding-right: 15vw;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 5vh;
}
.but{
  padding-left: 47vw;
  padding-top: 6vh;
}
.includer button{
  height: 6vh;
  width: 8vw;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  font-weight: 400;
}
.includer button:hover{
  background-color: black;
  color: white;
}
.question {
  text-align: center;
  padding-bottom: 3%;
  padding-top: 5%;
  font-size: 20px;
  margin-bottom: 10px;
  color: #fcf8f8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.options {
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

}

button {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: background-color 0.3s ease;
  color: #050505;
}

button:hover {
  background-color: #090808;
  color: white;
}

button.correct {
  background-color: #82b965;
  color: #fff;
}

button.incorrect {
  background-color: #e26666;
  color: #fff;
}

.score {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10%;
 
}

.t{
  color: white;
}

.restart-button {
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #0a0909;
  transition: background-color 0.3s ease;
}
.c{
  color: white;
}
.answers{
  background-color: #fff;
  
  width: 100vw;
  margin: 0;
  padding: 2%;
}
.answers h3{
  margin: 2%;
}
.review-button{
  margin-top: 2%;
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #0a0909;
  transition: background-color 0.3s ease;
}
.pp{
  text-decoration: none;
  color: #000;
}
.buu{
  padding-left: 44.5%;
}
.restart-button:hover {
  background-color: #15d585;
}
.review-button:hover {
  background-color: #15d585;
}
.about h5{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 10s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  10% { border-color: rgb(250, 249, 246); }
}

@media only screen and (max-width: 600px) {
  body{
    width:100%;
  }
  .about{
    font-size: small;

  }
  .header{
    font-size: medium;
    padding-left: 20%;
  }
  .but button{
    width: 80%;
    
  }
  .but{
    padding-left: 20%;
  }

  .buu{
    padding-left: 32%;
  }
}